BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseSensitive
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
